<!doctype html>
<html lang="en">
  <head>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
  <body ng-app="LunchCheck">
    <h1>Lunch Checker</h1>
    <div>Please keep in mind: an empty item, i.e., , , will be counted as an items
    </div>

      <div>Please input the list of the dishes below: </div>

    <div ng-controller='LunchCheckController'>

      <input type="text" ng-model="listOfTheDishes" required>

      <br>
      <br>
      <button  ng-click=checkIfTooMuch()>Check If Too Much</button>
      <br>
      <br>
      <div>{{messageIsItEnoughFood}}</div>
    </div>
  </body>
</html>
